{% extends 'learning_logs/base.html' %}
{%  load bootstrap3%}
{% block header %}
    <h1><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h1>
{% endblock %}

{% block content %}

    <h4>编辑：</h4>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button name="提交" class="btn btn-primary">保存</button>
      {% endbuttons %}
    </form>
{% endblock %}