{% extends "learning_logs/base.html" %}
{% block header %}
    <div class="jumbotron">
     <h1>你的学习足迹</h1>
    </div>
{% endblock header %}
{% block content %}
    <h2>
    <a href="{% url 'users:register' %}">注册账户</a>建立属于自己的学习笔记，记录自己所学习过的主题。
    </h2>
    <h2>
    无论何时学习到关于某个主题的新内容，创建一个笔记来记录它
    </h2>
{% endblock %}
