{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h1><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h1>
{% endblock %}

{% block content %}


    <h3>添加一条新笔记：</h3>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
      <button name="提交" class="btn btn-primary">添加</button>
      {% endbuttons %}
    </form>

{% endblock %}