{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>添加一个新主题：</h2>
{% endblock %}

{% block content %}

    <form action="{% url 'learning_logs:new_topic' %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button name="提交" class="btn btn-primary">添加</button>
      {% endbuttons %}
    </form>


{% endblock %}