{% extends 'learning_logs/base.html' %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock %}

{% block content %}
    <p>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">添加新笔记</a>
    </p>

    <ul>
    {% for entry in entries %}
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
              {{ entry.date_added| date:"Y/m/d H:i" }}
              <small>
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑</a>
              </small>
            </h3>
        </div>
        <div class="panel-body">
            {{ entry.text|linebreaks }}
        </div>
      </div> <!-- panel -->
    {% empty %}
      <li>
      这个主题下还没有记录笔记
      </li>
    {% endfor %}
    </ul>

{% endblock %}